POSTGRES_DB=tuturnouy
POSTGRES_USER=tuturnouy
POSTGRES_PASSWORD=cambiar-esta-clave
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=cambiar-por-una-clave-larga-y-aleatoria
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=reservas@tuturnouy.local
